In [4]:
def print_full_name("fname", "lname"):
    print('hi there')
    fullname = f"{fullname}{lastname}"
    print(fullname)

SyntaxError: invalid syntax (<ipython-input-4-0b573b7d9daf>, line 1)

In [5]:
print_full_name("vanya", "koshti")

TypeError: print_full_name() takes 0 positional arguments but 2 were given

In [11]:
carname = "Mazda"

In [12]:
color = "red"

In [13]:
f"This {carname} is {color}"

'This Mazda is red'

In [9]:
mylist = [1, 2, "string", [1,2,5], -9]

In [10]:
for item in mylist:
    print(item)

1
2
string
[1, 2, 5]
-9

In [14]:
mytuple = (1, 2, 3, 4)

In [15]:
mylist = [1, 2, 3, 4]

In [16]:
mylist[0] = "changed"

In [17]:
mytuple[0]

1

In [18]:
mylist3 = [1, 2, 3, 4, 5]

In [19]:
mylist3.append('appended item')

In [20]:
mylist3

[1, 2, 3, 4, 5, 'appended item']

In [26]:
result = []
for item in [1, 2, 3, 4, 5, 6]:
    
    result.append(f"No. {item} - inside for loop")

In [27]:
result

['No. 1 - inside for loop',
 'No. 2 - inside for loop',
 'No. 3 - inside for loop',
 'No. 4 - inside for loop',
 'No. 5 - inside for loop',
 'No. 6 - inside for loop']

In [9]:
result = []
for item in [1, 2, 3, 4, 5, 6]:
    
    mystr= "No. {} - inside for loop".format(item)
    mystr = "No. %s - inside for loop"%item
    result.append(f"No. {item} - inside for loop")

In [10]:
result

['No. 1 - inside for loop',
 'No. 2 - inside for loop',
 'No. 3 - inside for loop',
 'No. 4 - inside for loop',
 'No. 5 - inside for loop',
 'No. 6 - inside for loop']

In [3]:
mydictionary = {"name": "Python Workshop", "place": "Hall bldg" }

In [4]:
mydictionary

{'name': 'Python Workshop', 'place': 'Hall bldg'}

In [5]:
import pandas

In [6]:
import pandas as pd

In [11]:
mydictionary = {"name": "Python Workshop", "organizer": "ESGA", "place": "Hall", "city": "MTL"}

In [12]:
mydictionary

{'name': 'Python Workshop',
 'organizer': 'ESGA',
 'place': 'Hall',
 'city': 'MTL'}

In [13]:
mydictionary['organizer']

'ESGA'

In [21]:
event_info = {"name":["Python workshop", "Bokeh"], "organizer": ["ESGC", "CONCORDIA"], "place": ["Hall", "test"]}

In [22]:
event_info

{'name': ['Python workshop', 'Bokeh'],
 'organizer': ['ESGC', 'CONCORDIA'],
 'place': ['Hall', 'test']}

In [23]:
df = pd.DataFrame(event_info)

In [24]:
df

              name  organizer place
0  Python workshop       ESGC  Hall
1            Bokeh  CONCORDIA  test

In [25]:
mylist4 = [('a', 1), ('b',2), ('c', 3)]

In [26]:
for (letter, number) in mylist4:
    print(letter, "-->", number)

a --> 1
b --> 2
c --> 3

In [27]:
mylist4 = [('a', 1, 'first'), ('b',2, 'second'), ('c', 3, 'third')]

In [29]:
for (letter, number, priority in mylist4:
    print(letter, "-->", number, "-->", priority)

SyntaxError: invalid syntax (<ipython-input-29-d1768162f5d3>, line 1)

In [30]:
mydict4 = {"name": "python", "place": "EV", "city": "MTL"}

In [31]:
mylist8 = [3,4,5,6]

In [32]:
type(mylist8)

list

In [33]:
mylist8.append(67)

In [34]:
mylist8

[3, 4, 5, 6, 67]

In [35]:
mydict4 = {"key":"value", "name": "python", "place": "EV", "city": "MTL"}

In [36]:
mydict4.values()

dict_values(['value', 'python', 'EV', 'MTL'])

In [37]:
mydict4.keys()

dict_keys(['key', 'name', 'place', 'city'])

In [38]:
mydict4.items()

dict_items([('key', 'value'), ('name', 'python'), ('place', 'EV'), ('city', 'MTL')])